<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cleaning-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card class="cleaner">
    <h2>
      <span class="details-nav" (click)="details()"> Details </span>
      &gt;
      <span class="images-nav" (click)="images()"> Images </span>
    </h2>
  
    <form [formGroup]="cleanersForm" *ngIf="currentBusiness">
        <div [hidden]="hideDetails">
          <div class="form-control">
            <label class="form-label">Business Name</label>
            <input type="text" placeholder="" formControlName="name" required />
          </div>
    
          <div formGroupName="address" class="address">
            <div class="form-control">
              <label class="form-label">Street Address</label>
              <input type="text" placeholder="" formControlName="0" required />
            </div>
    
            <div class="form-control">
              <label class="form-label">Suburb</label>
              <input type="text" placeholder="" formControlName="1" required />
            </div>
    
            <div class="form-control">
              <label class="form-label">Province</label>
              <input type="text" placeholder="" formControlName="2" required />
            </div>
    
            <div class="form-control">
              <label class="form-label">Area Code</label>
              <input type="text" placeholder="" formControlName="3" required />
            </div>
          </div>

          <div class="form-control">
            <input 
              type="button"
              (click)="upload()" 
              value="Update" 
              [disabled]="
                cleanersForm.controls.name.invalid ||
                cleanersForm.controls.address.invalid" 
            />
          </div>
        </div>

        <ion-card [hidden]="hideImages" class="view-cleaners-images" *ngFor="let img of currentImages">
          <div class="cleaner-img">
            <ion-img class="img" [src]="img" alt="cleaners images"></ion-img>
          </div>
          <div class="cleaners-controls">
            <button type="button" [hidden]="currentImages.length === 1" (click)="presentDeleteAlert(img)">
              Delete<ion-icon name="trash"></ion-icon>
            </button>
          </div>
        </ion-card>
  
        <div
          [hidden]="hideImages"
          formArrayName="cleanersImages"
          class="cleaners-images"
        >
          <div 
            class="form-control" 
            *ngFor="let image of cleanersImages.controls; let i=index"
          >
            <label class="form-label" for="upload">Business Images/Logos</label>
            <input 
              id="upload" 
              type="file" 
              accept="image/*" 
              [formControlName]="i" 
              (change)="uploadFile($event)" 
              required 
              />
          </div>
          
          <div class="form-control">
            <ion-label (click)="addCleanersImage()">
              + Add one more image
            </ion-label>
          </div>

          <div class="form-control">
            <input 
              type="submit"
              value="Upload" 
              (click)="upload()" 
              [disabled]="isUpload" 
            />
          </div>

        </div>
      
    </form>
  </ion-card>

</ion-content>
