<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <h2>Owner Login</h2>
    <form [formGroup]="loginForm">
      <div class="form-control">
        <ion-label for="email" class="input-label">Email</ion-label>
        <input
          type="email"
          id="email"
          placeholder=""
          formControlName="email"
          required
        />
      </div>
      <div class="form-control">
        <ion-label for="password" class="input-label">Password</ion-label>
        <input
          type="password"
          id="password"
          placeholder=""
          formControlName="password"
          required
        />
      </div>
      <div class="form-control">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
    <p>Not registered? <a routerLink="/register">register</a></p>
  </ion-card>
</ion-content>
