<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-card">
    <h2>Owner Registration</h2>
    <form [formGroup]="registerForm">
      <div class="form-control">
        <ion-label for="name" class="input-label">Name</ion-label>
        <input
          type="text"
          id="name"
          placeholder=""
          formControlName="name"
          required
        />
      </div>
      <div class="form-control">
        <ion-label for="surname" class="input-label">Surname</ion-label>
        <input
          type="text"
          id="surname"
          placeholder=""
          formControlName="surname"
          required
        />
      </div>
      <div class="form-control">
        <ion-label for="email" class="input-label">Email</ion-label>
        <input
          type="email"
          id="email"
          placeholder=""
          formControlName="email"
          required
        />
      </div>
      <div class="form-control">
        <ion-label for="password" class="input-label">Password</ion-label>
        <input
          type="password"
          id="password"
          placeholder=""
          formControlName="password"
          required
        />
      </div>
      <div class="form-control">
        <ion-button
          shape="round"
          expand="full"
          [disabled]="registerForm.invalid || isLoading"
          (click)="register()"
        >
          <span [hidden]="isLoading"> Register </span>
          <span [hidden]="!isLoading">
            <ion-spinner name="bubbles"></ion-spinner>
          </span>
        </ion-button>
      </div>
    </form>
    
    <ion-grid class="ion-padding-top ion-text-center">
      <ion-row>
          <ion-col size="8">
              <ion-label class="label ion-no-padding">
                  ALREADY HAVE AN ACCOUNT?
              </ion-label>
          </ion-col>
          <ion-col size="4">
              <a routerLink="/login" color="primary" class="a ion-no-padding">LOGIN</a>
          </ion-col>
      </ion-row>
  </ion-grid>

  </div>
</ion-content>
