<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cleaning-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Cleaning Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-card class="service-item">
    <img class="service-img" src="">
    <div>
      <h2>Service Name</h2>
    </div>
  </ion-card>

  <ion-card class="add-card">
    <ion-button shape="round" class="add-btn">
      Add Service <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>
