.service-item {
  border-radius: 17px;
  padding: 20px;
}

.add-card {
  border-radius: 17px;
  text-align: center;
}

.add-btn {
  margin: 20px auto;
}

.service-img {
  border: none;
  border-radius: 17px;
  background-color: #ccc;
  height: 200px;
  width: 100%;
  border: none;
}
