<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cleaning-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Cleaning Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <div *ngIf="services">
    <ion-card class="service-item" *ngFor="let service of services">
      <img class="service-img" src="{{service.images[0]}}">
      <div>
        <h2>{{service.service}}</h2>
      </div>
    </ion-card>
  </div>

</ion-content>
