<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cleaning-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Cleaning Business</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card class="business" *ngFor="let business of businesses">

    <ion-card-header class="ion-card-header ion-text-center">
      {{business.name}}
    </ion-card-header>

    <ion-slides pager="true" [options]="slideOpts" class="img-slide">
      <ion-slide *ngFor="let image of business.images" class="business-img">
        <img [src]="image" alt="a picture of {{business.name}}" />
      </ion-slide>
    </ion-slides>

    <ion-icon name="location-outline"></ion-icon>
    <ion-label class="address" *ngFor="let address of business.address">
      {{address}}
    </ion-label>
    
  </ion-card>

  <div *ngFor="let business of businesses">
    <ion-card class="card">
      <ion-text class="heading">Edit Business Details</ion-text>
      <ion-button shape="round" expand="full" strong="true" (click)="editBusiness(business.id)">
        edit <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-card>
    
    <ion-card class="card">
      <ion-text class="heading">Delete Business</ion-text>
      <ion-button shape="round" expand="full" strong="true" (click)="presentDeleteAlert(business.id, business.images)">
        delete <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card>
    
    <ion-card class="card">
      <ion-text class="heading">Add Cleaning Service</ion-text>
      <ion-button shape="round" expand="full" strong="true" (click)="toAddService(business.id, business.ownerID)">
        Add Service <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-card>
    
    <ion-card class="card">
      <ion-text class="heading">View Cleaning Services</ion-text>
      <ion-button shape="round" expand="full" strong="true" (click)="toServices(business.id, business.ownerID)">
        View Services <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
    </ion-card>
    
    <ion-card class="card">
      <ion-text class="heading">View Working Days</ion-text>
      <ion-button shape="round" expand="full" strong="true" (click)="toDays()">
        Working Days <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </div>

</ion-content>
