<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/property-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Appointments</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="appointment-card">
    <h2 class="address">Address</h2>
    <p class="msg">
      "Client name", would like to set an appointment to view this property on
      the following date,
    </p>
    <h3 class="date">02/04/2021</h3>
    <button type="button" class="btn">Accept</button>
    <button type="button" class="btn">Deny</button>
  </ion-card>
</ion-content>
