<div class="wepper">

  <div class="upper">
    <img src="../../../assets/icon/image.jpg">
    <!-- <img src="../../../assets/icon/one-stop-service-logotype-260nw-668944483.webp"> -->
  </div>

  <div class="log_detail">

    <div class="infor ion-padding">

      <div class="test">
        <ion-input id="input" type='text' clearInput placeholder="Enter username"></ion-input>
        <ion-icon id='icon' slot="start" name="person"></ion-icon>
      </div>

      <div class="test">
        <ion-input id="input" type='password' clearInput placeholder="Enter Password"></ion-input>
        <ion-icon id='icon' slot="start" name="lock-closed"></ion-icon>
      </div>
      <!--  
      <div class="input">
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label position="floating">Username</ion-label>
          <ion-input type='email' clearInput required="true"></ion-input>
        </ion-item>

      </div>

      <div class="input">

        <ion-item>
          <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input type='password' clearInput required="true"></ion-input>
        </ion-item>

      </div>

-->
      <div class="register">
        <span>Don't have an account?<a>Sign up</a></span>
      </div>


      <div class="btn">
        <ion-button expand="block" fill="outline">Login</ion-button>
      </div>


    </div>

  </div>



</div>