<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="business-details">    
    <div>
      <h2 class="heading">Cleaning Service</h2>
    </div>
      

    <ion-button (click)="addBusiness()" shape="round" expand="full">
      Add business
    </ion-button>   
    <ion-button shape="round" expand="full">
      View business
    </ion-button>   
    <ion-button (click)="toServices()" shape="round" expand="full">
      View Services 
    </ion-button>     
  </ion-card>
</ion-content>
