<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/property-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>View-Properties</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="property" *ngFor="let property of properties">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of property.images" style="height: 200px">
        <ion-img
          class="property-img"
          [src]="image"
          [alt]="property.description"
        ></ion-img>
      </ion-slide>
    </ion-slides>

    <div class="icons-line">
      <ion-text style="font-size: 22px">{{property.bedrooms}}</ion-text>
      <ion-icon name="bed"></ion-icon>
      <ion-text style="font-size: 22px">{{property.bathrooms}}</ion-text>
      <ion-icon name="water-outline"></ion-icon>
      <ion-text style="font-size: 22px">{{property.garages}}</ion-text>
      <ion-icon name="car"></ion-icon>
    </div>
    <ion-label class="address">{{property.address}}</ion-label><br />
    <ion-label>{{property.province}}</ion-label><br />
    <ion-label>R{{property.price}}</ion-label><br />
    <p>
      {{property.description}}
      <!-- <span>show more</span> -->
    </p>

    <button
      type="button"
      class="edit-btn"
      (click)="editProperty(property.docID)"
    >
      edit <ion-icon name="create"></ion-icon>
    </button>
    <button type="button" class="delete-btn">
      delete <ion-icon name="trash"></ion-icon>
    </button>
  </ion-card>
</ion-content>
