<ion-header>
  <ion-toolbar>
    <ion-title>View-Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="property">
    <ion-img
      class="property-img"
      src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="property image"
    ></ion-img>
    <div class="icons-line">
      <ion-text>1</ion-text>
      <ion-icon name="bed"></ion-icon>
      <ion-text>1</ion-text>
      <ion-icon name="car"></ion-icon>
    </div>
    <ion-label class="address">Address</ion-label><br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
      consequatur! ...
      <span>show more</span>
    </p>

    <button type="button" class="edit-btn">
      edit <ion-icon name="create"></ion-icon>
    </button>
    <button type="button" class="delete-btn">
      delete <ion-icon name="trash"></ion-icon>
    </button>
  </ion-card>
</ion-content>
