<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/property-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>View-Properties</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="property" *ngFor="let property of properties">
    <ion-slides pager="true" [options]="slideOpts" class="img-slide">
      <ion-slide *ngFor="let image of property.images" class="property-img">
        <img [src]="image" [alt]="property.description" />
      </ion-slide>
    </ion-slides>

    <div class="icons-line">
      <ion-text style="font-size: 22px">{{property.bedrooms}}</ion-text>
      <ion-icon name="bed"></ion-icon>
      <ion-text style="font-size: 22px">{{property.bathrooms}}</ion-text>
      <ion-icon name="water-outline"></ion-icon>
      <ion-text style="font-size: 22px">{{property.garages}}</ion-text>
      <ion-icon name="car"></ion-icon>
    </div>
    <div>
      <ion-toggle 
        [(ngModel)]="property.availability_status"
        (click)="presentVisibilityAlert(property.docID, property.availability_status)"
        [checked]="property.availability_status"
      >
      </ion-toggle>
    </div>
    <ion-label class="address" *ngFor="let address of property.location">
      {{address}}
    </ion-label><br />
    <ion-label>{{property.province}}</ion-label><br />
    <ion-label>R{{property.price}}</ion-label><br />
    <p>
      {{property.description}}
      <!-- <span>show more</span> -->
    </p>

    <ion-button
      shape="round"
      expand="full"
      strong="true"
      (click)="editProperty(property.docID)"
    >
      edit <ion-icon name="create"></ion-icon>
    </ion-button>
    <ion-button
      shape="round"
      expand="full"
      strong="true"
      (click)="presentDeleteAlert(property.docID, property.images)"
    >
      delete <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
