.wepper {
    width: 100vw;
    height: 100vh;
  //   background-color: cornflowerblue;
  
    .upper {
      background-color: cornflowerblue;
      width: 100vw;
      height: 25vh;
    }
  
    .log_detail {
      background-color: rgb(245, 245, 245,0.5);
    
      width: 100vw;
      height: 75vh;
      border-top-left-radius: 100px;
      position: relative;
      border-top: 1px solid cornflowerblue;
      border-left: 1px solid cornflowerblue;
      border-bottom: 1px solid cornflowerblue;
  
      .infor {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -0%);
        width: 100vw;
  
        .input {
          width: 100%;
        }
  
        .register {
          text-align: right;
          color: gray;
        }
        .register a {
          color: cornflowerblue;
        }
  
        .btn {
          padding-top: 5%;
          color:cornflowerblue;
          width: 50%;
          margin: auto 0 auto auto;
          text-align: right;
        }
      }
    }
  }
  
  .field {
    // background-color: white;
    background-color:transparent;
    border-radius: 4px;
    // border: 1px solid gray;
    box-sizing: border-box;
    outline: none;
    margin: 8px 0;
    padding: 8px;
    padding-left: 45px;
  
    position: relative;
  }
  
  #input {
      border-bottom: cornflowerblue 1px solid;
  }
  
  #input:hover {
  
    border-bottom: cornflowerblue 1px solid;
  }
  
  #icon {
    font-size: 25px;
    color: black;
    position: absolute;
  
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
  }