<div class="wepper">

  <div class="upper">
    <img src="../../../assets/icon/image.jpg">
    <!-- <img src="../../../assets/icon/one-stop-service-logotype-260nw-668944483.webp"> -->
  </div>

  <div class="log_detail">

    <div class="infor ion-padding">

      <form>

        <div class="field">
          <ion-input id="input" type='text' clearInput placeholder="Enter phone number"></ion-input>
        </div>

        <div class="field">
          <ion-input id="input" type='text' ng2TelInput clearInput placeholder="Enter username"></ion-input>
        </div>

        <div class="field">
          <ion-input id="input" type='text' clearInput placeholder="Enter Name and surname"></ion-input>

        </div>


        <div class="field">
          <ion-input id="input" type='text-area' clearInput placeholder="Enter location"></ion-input>

        </div>

        <div class="field">
          <ion-input id="input" type='text' clearInput placeholder="Enter Password"></ion-input>

        </div>

        <div class="register">
          <!-- 
        <ion-item>
          <ion-checkbox color="secondary" checked slot="start"></ion-checkbox>
          <ion-label>Catelyn Stark</ion-label>
        </ion-item> 
      -->
          <span> Have an account?<a>Login</a></span>
        </div>

        <div class="btn">
          <ion-button expand="block">Register</ion-button>
        </div>
      </form>
    </div>
  </div>

</div>