<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-properties"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Property</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" style="font-size: 32px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="property">
    <h2>
      <span class="details-nav" (click)="details()"> Details </span>
      &gt;
      <span class="images-nav" (click)="images()"> Images </span>
    </h2>

    <form [formGroup]="propertyForm" *ngIf="currentProperty">
      <div [hidden]="hideDetails">
        <div formGroupName="address" class="address">
          <div class="form-control">
            <label class="form-label">Street Address</label>
            <input type="text" placeholder="" formControlName="streetAddress" required />
          </div>
        
          <div class="form-control">
            <label class="form-label">Suburb</label>
            <input type="text" placeholder="" formControlName="suburb" required />
          </div>
        
          <div class="form-control">
            <label class="form-label">Province</label>
            <input type="text" placeholder="" formControlName="province" required />
          </div>
        
          <div class="form-control">
            <label class="form-label">Area Code</label>
            <input type="text" placeholder="" formControlName="areaCode" required />
          </div>
        </div>

        <div class="form-control">
          <label class="form-label">Price</label>
          <input type="text" placeholder="" formControlName="price" required />
        </div>

        <div class="form-control">
          <label class="form-label">Bedrooms(s)</label>
          <input
            type="number"
            placeholder=""
            formControlName="bedrooms"
            required
          />
        </div>

        <div class="form-control">
          <label class="form-label">Bathroom(s)</label>
          <input
            type="number"
            placeholder=""
            formControlName="bathrooms"
            required
          />
        </div>

        <div class="form-control">
          <label class="form-label">Garage(s)</label>
          <input
            type="number"
            placeholder=""
            formControlName="garages"
            required
          />
        </div>

        <div class="form-control">
          <label class="form-label">Description</label>
          <textarea rows="4" formControlName="description" required></textarea>
        </div>

        <div class="form-control">
          <input
            type="button"
            (click)="update()"
            value="Update"
            [disabled]=" 
              propertyForm.controls.address.invalid ||  
              propertyForm.controls.price.invalid || 
              propertyForm.controls.bedrooms.invalid || 
              propertyForm.controls.bathrooms.invalid ||
              propertyForm.controls.garages.invalid || 
              propertyForm.controls.description.invalid 
            "
          />
        </div>
      </div>

      <ion-card
        [hidden]="hideImages"
        class="view-prop-images"
        *ngFor="let img of currentImages"
      >
        <div class="prop-img">
          <ion-img class="img" [src]="img" alt="property images"></ion-img>
        </div>
        <div class="prop-controls">
          <button
            type="button"
            [hidden]="currentImages.length === 1"
            (click)="presentDeleteAlert(img)"
          >
            Delete<ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </ion-card>

      <div
        [hidden]="hideImages"
        formArrayName="propertyImages"
        class="prop-images"
      >
        <div
          class="form-control"
          *ngFor="let image of propertyImages.controls; let i=index"
        >
          <label class="form-label" for="upload">Image</label>
          <input
            id="upload"
            type="file"
            accept="image/*"
            [formControlName]="i"
            (change)="uploadFile($event)"
            required
          />
        </div>

        <div class="form-control">
          <ion-label (click)="addPropertyImage()">
            + Add one more image
          </ion-label>
        </div>

        <div class="form-control">
          <input
            type="submit"
            value="Update"
            (click)="update()"
            [disabled]="imageUpload"
          />
        </div>
      </div>
    </form>
  </ion-card>
</ion-content>
